body{
    background-color: #151515;
}

.topbar{
    background-color: transparent;
    width: 100%;
    height: max-content;
    justify-content: center;
    display: block;
}

#v2{
margin-left: 1vh;
}